<form on-submit="submit-load">
    <div>table name: <input type="text" value="{{tableName}}"></div>
    <div>file: <input type="file" value="{{files}}"></div>
    <input type="submit" value="load">
</form>
